<a href="https://colab.research.google.com/github/drscghosh/Testing/blob/master/DescriptiveStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd
from statistics import mode

# Step 1: Create and populate sample database
def create_sample_db():
    conn = sqlite3.connect('sample.db')
    c = conn.cursor()

    # Create table
    c.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    age INTEGER,
                    salary REAL
                )''')

    # Insert sample data
    employees_data = [
        (1, 'Alice', 28, 55000),
        (2, 'Bob', 34, 60000),
        (3, 'Charlie', 29, 52000),
        (4, 'Diana', 40, 62000),
        (5, 'Ethan', 31, 58000),
        (6, 'Fay', 34, 60000),  # Duplicate salary for mode
        (7, 'Grace', 28, 55000), # Duplicate age for mode
    ]
    c.executemany('INSERT OR IGNORE INTO employees VALUES (?, ?, ?, ?)', employees_data)
    conn.commit()
    conn.close()

# Step 2: Load data and perform descriptive statistics
def analyze_data():
    conn = sqlite3.connect('sample.db')
    df = pd.read_sql_query("SELECT * FROM employees", conn)

    print("\n--- Descriptive Statistics (Using Pandas) ---\n")
    print(df.describe())

    print("\n--- Additional Statistics ---")
    print(f"Median Age: {df['age'].median()}")
    print(f"Median Salary: {df['salary'].median()}")

    try:
        print(f"Mode Age: {mode(df['age'])}")
        print(f"Mode Salary: {mode(df['salary'])}")
    except:
        print("No unique mode found.")

    conn.close()

# Run the functions
create_sample_db()
analyze_data()

--- Descriptive Statistics (Using Pandas) ---

             id        age        salary
count  7.000000   7.000000      7.000000
mean   4.000000  32.000000  57428.571429
std    2.160247   4.358899   3552.329886
min    1.000000  28.000000  52000.000000
25%    2.500000  28.500000  55000.000000
50%    4.000000  31.000000  58000.000000
75%    5.500000  34.000000  60000.000000
max    7.000000  40.000000  62000.000000

--- Additional Statistics ---
Median Age: 31.0
Median Salary: 58000.0
Mode Age: 28
Mode Salary: 55000.0